$violet: hsl(235, 69%, 61%);
$lightviolet: hsl(235, 82%, 77%);
$verydarkblue: hsl(219, 29%, 14%);
$midnight: hsl(220, 29%, 10%);
$lightgrey: hsl(210, 22%, 96%);
$grey: hsl(212, 23%, 69%);
$darkgrey: hsl(214, 17%, 51%);

//=======================//
// MAIN SETTINGS SECTION //
//=======================//

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

input {
  font-family: inherit;
  &:focus {
    opacity: 1;
  }
}

#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $verydarkblue;
  background-color: $lightgrey;
  margin: 0;
  transition: 0.5s;
  &[data-theme="dark"] {
    background-color: $midnight;
    color: white;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
}

//===
// HEADER SECTION
//===

.heading-container {
  background-image: url("../assets/mobile/bg-pattern-header.svg");
  background-size: cover;
  padding: 32px 24px 0;
  margin-bottom: 72px;
}

.heading-top {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.heading-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#toggle-theme {
  width: 48px;
  height: 24px;
  border: none;
  border-radius: 12px;
  background-color: white;
  margin: 0 16px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: 2px solid black;
    outline: none;
  }
}

.theme-setting-indicator {
  width: 14px;
  height: 14px;
  background-color: $violet;
  border-radius: 7px;
  margin-left: 0;
  &:hover {
    background-color: $lightviolet;
  }

  transition: 0.5s;
}

.theme-setting-indicator--night {
  margin-left: auto;
}

.heading-filter-container {
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: relative;
  transform: translateY(50%);

  &[data-theme="dark"] {
    background-color: $verydarkblue;
  }

  transition: 0.5s;
}

.search-form {
  width: auto;
}

.search-input {
  font-size: 16px;
  font-family: inherit;
  border: none;
  background-color: transparent;
  opacity: 0.65;
  &:focus {
    outline: none;
  }

  &[data-theme="dark"] {
    color: white;
    opacity: 1;
    background-color: transparent;
  }
}

#button-search-filter {
  background-color: transparent;
  border: none;
  padding: none;
  &:hover {
    cursor: pointer;
  }
}

#button-search {
  width: 48px;
  height: 48px;
  background-color: $violet;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
    background-color: $lightviolet;
  }
}

//==
//Card Section
//==

.job-listing-container {
  padding: 25px 24px 0px;
  background-color: $lightgrey;

  &[data-theme="dark"] {
    background-color: $midnight;
  }

  transition: 0.5s;
}

.view-listing-container {
  height: 100%;
  background-color: $lightgrey;
  &[data-theme="dark"] {
    background-color: $midnight;
  }
  transition: 0.5s;
}

.listing {
  background-color: white;
  padding: 0px 24px 32px;
  margin-bottom: 49px;
  border-radius: 6px;
  height: 228px;
  color: $darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div p {
    display: inline-block;
    text-decoration: none;
    color: $verydarkblue;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
  }

  p:hover {
    color: $darkgrey;
    cursor: pointer;
  }

  p:focus {
    outline: none;
    text-decoration: underline;
  }

  p[data-theme="dark"] {
    color: white;
  }

  p:hover[data-theme="dark"] {
    color: $darkgrey;
  }

  &[data-theme="dark"] {
    background-color: $verydarkblue;
  }

  transition: 0.5s;
}

.listing-logo {
  width: auto;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  transform: translateY(-50%);
}

.listing-location {
  color: $violet;
  font-weight: 700;
  font-size: 14px;
}

//Filter modal section
.filter-modal-container {
  position: fixed;
  background-color: hsla(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.filter-modal-close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.filter-modal-flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-modal {
  position: relative;
  z-index: 5;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 6px;

  input[type="text"] {
    outline: none;
    border: none;
    font-size: 16px;
    color: $midnight;
    opacity: 0.65;
    margin-left: 16px;
    background-color: transparent;

    &[data-theme="dark"] {
      color: white;
      opacity: 1;
    }
  }

  input[type="checkbox"] {
    margin-right: 16px;
    appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    opacity: 0.1;
    background-color: $midnight;
    &[data-theme="dark"] {
      background-color: $darkgrey;
    }
    &:checked {
      background-color: $violet;
      opacity: 1;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &[data-theme="dark"] {
    background-color: $midnight;
    color: white;
  }
}

.filter-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid hsla(214, 17, 51, 0.2);
}

.filter-checkbox {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-check {
  position: relative;
  transform: translateX(-35px);
}

.checkbox-ft {
  font-weight: 700;
  position: relative;
  transform: translateX(-16px);
}

.filter-submit {
  padding: 24px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-button {
  border: none;
  font-family: inherit;
  font-weight: 700;
  background-color: $violet;
  color: white;
  padding: 16px;
  border-radius: 5px;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: $lightviolet;
  }
}

.loadmore-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadmore-button {
  width: auto;
  margin-bottom: 64px;
}

//Single listing

.listing-companyinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding-bottom: 32px;
  margin: 24px;

  &[data-theme="dark"] {
    background-color: $verydarkblue;
  }

  transition: 0.5s;
}

.company-title,
.company-url {
  transition: 0.5s;
  color: black;
  &[data-theme="dark"] {
    color: white;
  }
}

.listing-description {
  background-color: white;
  margin: 24px;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: $darkgrey;

  &[data-theme="dark"] {
    background-color: $verydarkblue;
    color: white;
  }

  div h1,
  div h2,
  div h3,
  div h4 {
    color: black;
    line-height: 40px;

    &[data-theme="dark"] {
      color: white;
    }

    transition: 0.5s;
  }

  a {
    margin: 32px 0px;
  }

  transition: 0.5s;
}

.app-button-linked {
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  background-color: $violet;
  color: white;
  padding: 16px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: $lightviolet;
  }
}

.app-button-company {
  background-color: hsla(235, 69%, 61%, 0.1);
  color: $violet;

  &:hover {
    background-color: hsla(235, 69%, 61%, 0.35);
  }

  &[data-theme="dark"] {
    color: white;
    background-color: hsla(0, 100%, 100%, 0.1);

    &:hover {
      background-color: hsla(0, 100%, 100%, 0.25);
    }
  }

  transition: 0.5s;
}

.listing-howtoapply {
  display: flex;
  flex-direction: column;
  background-color: $violet;
  background-image: url("../assets/mobile/bg-pattern-header.svg");
  background-size: cover;
  color: white;
  padding: 32px;
  margin: 24px;
  border-radius: 6px;
  & a {
    color: white;
  }
}

.listing-footer {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  &[data-theme="dark"] {
    background: $verydarkblue;
  }

  transition: 0.5s;

  & a {
    width: 100%;
    box-sizing: border-box;
  }
}
